
h1.titre1 {
  text-align: center;
  color: #ba45b3;
  margin: 30px 0;
}
h2{
  text-align: center;
  color: #ba45b3;
  margin: 30px 0;
}
form {
  margin: 26px 0;
}
input[type="search"] {
  margin: 30px 0;
  background: #ba45b363;
  border: 1px solid #0a090a;
}
.card {
  margin: 10px 0;
}
.card-Body {
  margin: 10px 0;
  text-align: center;
}
.center {
  display: block;
  text-align: center;
}
.card-Body:hover {

  background: #a9a8a8;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
button {
  width: 15%;
  border-radius: 5px;
  margin-left: 10px;
  background-color: #ba45b3;
  color: #fff;
  border: 1px solid #ba45b3;
}
button:hover {

  background-color: #766f75;
  color: #fff;

}
input[type="text"] {
  border-radius: 5px;
  margin: 0 5px;
}
.input {
  padding: 5px 15px;
  width: 300px;
}

.user-list {
  margin-top: 30px;
}

.title {
  list-style: none;
  margin: 10px 0;
  padding: 10px;
  background: #eee;

  justify-content: space-between;
}

.title-id{
  color: red;
  margin-right: 20px;
}

.title-title {
  color: blue;
}

.title-age {
  margin-left: auto;
}