

.input {
  padding: 5px 15px;
  width: 300px;
}

.user-list {
  margin-top: 30px;
}

.title {
  list-style: none;
  margin: 10px 0;
  padding: 10px;
  background: #eee;

  justify-content: space-between;
}

.title-id{
  color: red;
  margin-right: 20px;
}

.title-title {
  color: blue;
}

.title-age {
  margin-left: auto;
}